<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.grandcentrix.thirtyinch.plugin_test">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application android:theme="@style/Theme.AppCompat">
        <activity
            android:name=".TestActivity"
            android:exported="true" />
    </application>

</manifest>
